[submodule "software/libraries/spdlog"]
	path = software/libraries/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "software/libraries/image-magick"]
	path = software/libraries/image-magick
	url = https://github.com/ImageMagick/ImageMagick.git
