[submodule "software/libraries/spdlog"]
	path = software/libraries/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "software/libraries/cli11"]
	path = software/libraries/cli11
	url = https://github.com/CLIUtils/CLI11.git
